[alias]
    st = status
    df = diff
    co = checkout
    ci = commit --verbose
[user]
    name = bajelidze
    email = irakli.bajelidze@exasol.com
	signingkey = 1D4A6EDE86457C3C
[commit]
	gpgsign = false
