[alias]
    st = status
    ts = status
    df = diff
    co = checkout
    ci = commit --verbose
[user]
    name = bajelidze
    email = irakli.bajelidze@exasol.com
    signingkey = 1D4A6EDE86457C3C
[commit]
    gpgsign = false
[init]
    defaultBranch = master
[credential]
    helper = store
[url "git@github.com:exasol/"]
    insteadOf = "https://github.com/exasol/"
    insteadOf = "http://github.com/exasol/"
    insteadOf = "git://github.com/exasol/"
    insteadOf = "gh:"
